ColorBrewer_all_schemes_RGBonly4_withPalette_and_Macro.csv
ColorBrewer_all_schemes_RGBonly4_withPalette_and_Macro.xls
add
colorbrewer.zip
colorsmaps.txt
create_pgfplotslibrary.sh
display.aux
display.log
display.synctex.gz
display_colorcycle.aux
display_colorcycle.log
display_colorcycle.log.gnuplot
display_colorcycle.log.table
display_colorcycle.nlogn.gnuplot
display_colorcycle.pdf
display_colorcycle.pgf-plot.gnuplot
display_colorcycle.pgf-plot.table
display_colorcycle.sqrt.gnuplot
display_colorcycle.sqrt.table
display_colorcycle.synctex.gz
display_colorcycle.tanh.gnuplot
display_colorcycle.tanh.table
display_colormap.aux
display_colormap.log
display_colormap.pdf
display_colormap.pgf-plot.gnuplot
display_colormap.pgf-plot.table
display_colormap.synctex.gz
display_colormap.tex
display_colors.aux
display_colors.log
display_colors.pdf
display_colors.synctex.gz
output_colors (copy).awk
output_colors.awk
output_pgfcolormap.awk
output_pgfcyclelist.awk
output_pgfcyclelist_with_errormarkers.awk
output_pgfcyclelist_with_lightmarkers.awk
output_pgfcyclelist_with_markers.awk
output_schemes.awk
tikzlibrarycolorbrewer.code (copy).tex
output_schemes.py
