ColorBrewer_all_schemes_RGBonly4_withPalette_and_Macro.csv
ColorBrewer_all_schemes_RGBonly4_withPalette_and_Macro.xls
colorbrewer.sty
colorbrewer.zip
colorsmaps.txt
create_pgfplotslibrary.sh
display_colormap.tex
tikzlibrarycolorbrewer.code (copy).tex
*.swp
*.awk
*.aux
*.synctex
*.log
*.pdf
*.table
*.gnuplot
*.synctex*
output_schemes.py
